.billetterie {
  position: relative;
  height: 100%;
  min-height: 375px;
  margin-bottom: 100px;
  padding-bottom: 100px;

  @include breakpoint($md) {
    min-height: 632px;
    margin-bottom: 200px;
    padding-bottom: 200px;
  }

  @include breakpoint($lg) {
    margin-bottom: 5rem;
  }

  &__bg {
    position: absolute;
    height: inherit;

    img {
      object-fit: cover;
      height: inherit;
    }
  }

  &__content {
    position: absolute;

    top: 2rem;
    left: 2rem;
    right: 2rem;

    @include breakpoint($lg) {
      max-width: 45%;
    }
  }

  &__img-tickets {
    position: absolute;
    height: auto;
    right: 2rem;
    transform: translateY(50%);
    max-width: 66%;
    bottom: 0;

    @include breakpoint($md) {
      max-width: 75%;
    }



    @include breakpoint($lg) {
      transform: translateY(0);
      bottom: unset;
      top: 2rem;
      right: 0;
      max-width: 45%;
    }
  }

  &-sell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    &__price {
      font-weight: 900;
      margin: 0.5rem;

      @include breakpoint($md) {
        margin: 0.75rem;
        font-size: 2.8125rem;
      }
    }
  }
}