.btn {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  min-width: 110px;
  padding: 0.75em;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color__black;

  @include breakpoint($md) {
    font-size: 1.5rem;
    min-width: 270px;
  }

  &--yellow {
    background: $color__yellow;
    color: $color__white;
  }

  &--primary {
    background: $color__primary;
    color: $color__white;
  }

  &--outline-primary {
    background: $color__white;
    border: 3px solid $color__primary;
  }

  &--gradient-green {
    background: $gradient__green;
    color: $color__white;
  }

  &--gradient-blue {
    background: $gradient__blue;
    color: $color__white;
  }

  &--outline-black {
    border: 5px solid black;
    background: white;
    color: black;
    border-radius: 0;
    font-weight: 900;
    padding: 1em;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.3s ease-in-out;
      background-color: white;
      mix-blend-mode: difference;
    }

    &:hover,
    &:active,
    &:focus {
      &::before {
        transform: scaleX(1);
      }
    }

    @include breakpoint($lg) {
      font-size: 1.75rem;
      min-width: 350px;
    }
  }

  &--fill-black {
    @extend .btn--outline-black;
    background: black;
    color: white;
  }
}