.form {

  &__label {
    @extend %sr-only;
  }

  &__input {
    width: 100%;
    padding: 0.6rem 0.75rem;
    margin-bottom: 1rem;
    border: 0;
    font-size: 0.6rem;
    font-weight: 300;
    color: $color__black;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);

    @include breakpoint($md) {
      font-size: 1.75rem;
      padding: 0.9rem 1.68rem;
      margin-bottom: 2.5rem;
    }
    
    &:focus {
      outline: 1px solid rgba($color: #000000, $alpha: 0.4);
      border: 1px solid $color__primary;
    }
  }
}