.form {

  @mixin form__font {
    font-size: 0.6rem;
    color: $color__black;
    @include breakpoint($md) {
      font-size: 1.75rem;
    }
  }

  &__label {
    cursor: pointer;
    @include form__font;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__label--hidden {
    @extend %sr-only;
    margin-bottom: 0;
  }

  &__input:not([type=checkbox]) {
    width: 100%;
    padding: 0.6rem 0.75rem;
    margin-bottom: 1rem;
    border: 0;
    font-weight: 300;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);
    @include form__font;

    @include breakpoint($md) {
      padding: 0.9rem 1.68rem;
      margin-bottom: 2.5rem;
    }

    &:focus {
      outline: 1px solid rgba($color: #000000, $alpha: 0.4);
      border: 1px solid $color__primary;
    }
  }

  &--comment {

    margin-top: 1rem;

    textarea {
      max-height: 10rem;
      resize: none;
    }

    .form__input {
      border-radius: 0.2rem;

      @include breakpoint($md) {
        border-radius: 0.5rem;
      }

      &:focus {
        border-color: $color__blue;
      }
    }
  }
}