.headline {
  color: $color__black;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.4;
  margin: 0;
  word-break: break-all;
  

  @include breakpoint($md) {
    font-size: 4rem;
    word-break: normal;
  }

  &--white {
    color: $color__white;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--medium {
    font-size: 1rem;
    @include breakpoint($md) {
      font-size: 3.5rem;
    }
  }

  &--small {
    font-weight: 500;
    font-size: 0.75rem;

    @include breakpoint($md) {
      font-size: 1.875rem;
    }
  }

  &--decoration::after {
    content: '';
    display: inline-block;
    background: $color__primary;
    width: 0.5em;
    height: 4px;
    vertical-align: text-top;
    position: relative;
    top: 0.6rem;
    margin-left: 0.68rem;

    @include breakpoint($md) {
      width: 1em;
      height: 10px;
      margin-left: 1rem;
    }
  }
}