.header {

  &__bg {
    position: fixed;
    left: 0;
    right: 0;
    height: 5rem;
    background: $color__white;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  }

  &[data-menu=fixed] {
    &+* {
      margin-top: 7rem;
    }
  }
  &[data-menu=scroll] {
    &+* {
      margin-top: 3rem;
      @include breakpoint($lg) {
        margin-top: 6rem;
      }
      @include breakpoint($xl) {
        margin-top: 8rem;
      }
    }
  }

  &__logo {
    height: 4rem;
    position: fixed;
    padding-top: 0.5rem;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    &--right-on-xxl {
      @include breakpoint($xxl) {
        right: 0;
        padding-right: calc((50vw - 822px) + 5rem);
      }
    }

    &--hide {
      opacity: 0;
    }

    &--hide-on-xxl {
      @include breakpoint($xxl) {
        display: none;
      }
    }

    &--menu-mobile {
      position: relative;

      img {
        margin: 0 auto;
        display: block;
      }
    }

    & * {
      height: inherit;
    }

  }
}