.headline {
  color: $color__black;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.4;
  margin: 0;

  @include breakpoint($md) {
    font-size: 4rem;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--medium {
    font-size: 1rem;
    @include breakpoint($md) {
      font-size: 3.5rem;
    }
  }

  &--small {
    font-weight: 500;
    font-size: 0.75rem;

    @include breakpoint($md) {
      font-size: 1.875rem;
    }
  }
}