%sr-only,
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

%current-menu-item,
.current-menu-item,
.is-current-menu-item {
  color: $color__primary;
}

.has-reverse-colors {
  filter: invert(1);
}

.is-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.has-mb {
  &-3 {
    margin-bottom: 3rem;
  }
}