.hero {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  overflow: hidden;
  
  &--bg {
    background: #0f0f0f;
  }

  &__bg {
    height: inherit;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__brand-logo {
    margin: auto;
    animation-name: hero__brand-logo;
    animation-duration: 3s;
  }
}

@keyframes hero__brand-logo {
  from {opacity: 0; transform: scale(0.8);}
  to {opacity: 1; transform: scale(1);}
}