.menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0.1px;

  li {
    margin: 5vh 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 3vh;
    font-weight: 300;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;

    background: $color__white;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &>* {
      visibility: hidden;
      transform: scale(1.3);
      opacity: 0;
      transition: inherit;
    }

    &--is-visible {
      visibility: visible;
      opacity: 1;

      &>* {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
      }
    }

    @include breakpoint($xxl) {
      display: none;
    }
  }
}