.site-footer {

  color: $color__black;
  margin-top: auto;

  &__menu-items,
  &__bottom-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  &__menu-item {

    border-bottom: 3px solid $color__black;
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.3;
    margin-top: 0.75em;
    text-transform: uppercase;

    &--current {
      @extend %current-menu-item;
    }

    @include breakpoint($md) {
      font-size: 2.2rem;
    }

    @include breakpoint($lg) {
      font-size: 3.3rem;
    }
  }

  &__bottom-links {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    @include breakpoint($sm) {
      flex-direction: row;
      justify-content: center;
      margin: 3rem 0;
    }
    @include breakpoint($lg) {
      margin: 6rem 0;
    }
  }

  &__bottom-link {
    margin: 1em 1rem;
    font-size: 0.75rem;
    font-weight: 300;

    @include breakpoint($md) {
      font-size: 1.1rem;
    }

    @include breakpoint($lg) {
      font-size: 1.56rem;
    }
  }
}