.wppb-user-forms {

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input:not([type=submit]) {
    @extend .form__input;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn--gradient-green;
  }

  .login-remember {

    margin: 0 0 2.5rem 0;

    label {
      display: flex;
      align-items: center;
    }

    input {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}