.wrapper {
  max-width: calc(1234px + 4rem);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;

  &--large {
    max-width: calc(1371px + 4rem);
  }

  &--narrow {
    max-width: calc(1076px + 4rem);
  }

  &--user-form {
    max-width: 697px;
  }

  &--contests {
    max-width: calc(1040px + 4rem);
  }

  &--footer {
    padding: 0 3rem;

    @include breakpoint($md) {
      padding: 0 2rem;
    }
  }

  &--hero {
    height: 476px;

    @include breakpoint(376px) {
      height: 100vh;
      max-width: 100%;
    }

    &>* {
      z-index: 100;
    }
  }

  &--menu-fixed {
    position: absolute;
    max-width: 100%;

    &>* {
      z-index: 100;
    }
  }

  .wrapper {
    padding: 0;
  }
}