.wrapper {
  max-width: calc(1234px + 4rem);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  &--large {
    max-width: calc(1371px + 4rem);
  }

  &--narrow {
    max-width: calc(1076px + 4rem);
  }
  
  &--contests {
    max-width: calc(1040px + 4rem);
  }

  &--footer {
    padding: 0 3rem;
    @include breakpoint($md) {
      padding: 0 2rem;
    }
  }

  &>.wrapper {
    padding: 0;
  }
}