<footer class="site-footer">
    <div class="wrapper wrapper--large wrapper--footer">
        <ul class="site-footer__menu-items">
            <li class="site-footer__menu-item site-footer__menu-item--current"><a href="#">News</a></li>
            <li class="site-footer__menu-item"><a href="#">Programme</a></li>
            <li class="site-footer__menu-item"><a href="#">Infos Pratique</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <ul class="site-footer__bottom-links">
            <li class="site-footer__bottom-link"><a href="#">Mentions légale</a></li>
            <li class="site-footer__bottom-link"><a href="#">Mentions légale</a></li>
            <li class="site-footer__bottom-link"><a href="#">Mentions légale</a></li>
        </ul>
    </div>

</footer>