{% extends "base.twig" %}

{% block content %}
	<div class="wrapper">
		<div class="generic-page">
			<h1 class="headline headline--upper">{{post.title}}</h1>
			<div class="generic-content">
				{{post.content}}
			</div>
		</div>
	</div>
{% endblock %}
