// BOX SIZING FIX
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

// pre
pre {
  white-space: pre-wrap;
}

// GLOBAL
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}