.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.wrapper {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  &--footer {
    padding: 0 3rem;
  }
}

%current-menu-item,
.current-menu-item {
  color: $color__primary;
}