// COLORS
$color__black: #1B1A1A;
$color__primary: #23E38C;
$color__yellow: #DCE31D;
$color__white: #fff;

$gradient__green: linear-gradient(100deg, #1DE387, #8FD5E3);
$gradient__blue: linear-gradient(100deg, #2C25EB, #2C25EB);


// BREAKPOINTS
$sm: 400px;
$md: 600px;
$lg: 1000px;